@model IEnumerable<UploadedFile>

@{ ViewData["Title"] = "Files"; }

<h1>Uploaded Files</h1>

<a class="btn btn-primary" asp-action="Upload">Upload</a>

<ul class="list-group mt-4">
    @foreach (var file in Model)
    {
        <li class="list-group-item d-flex justify-content-between">
            <span>@file.FileName</span>
            <a class="btn btn-success" asp-action="DownloadFile" asp-route-fileName="@file.StoredFileName">
                Download
            </a>
        </li>
    }
</ul>